.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    background:  rgba(0, 0, 0, 0.25) 10%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.479); */
}

.about .top .bottom{
}
/* top */
.about .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: transparent;
    margin-bottom: 2.5%;
}
/* bottom */
.about .bottom  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: transparent;
}

.about .left .right{
    height: auto;
}

/* left */
.about .left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.about .about-header h1{
    margin: 00 0 0;
    font-size: 4.5rem;
    font-family: 'Parkinsans', sans-serif;
    color: white;
    font-weight:500;
    width: 100%;
}
.about .about-header h1 .alt-text {
    color: #f57125;
    font-weight:600;
}

.about .left .about-slideshow { 
    height: 30rem;
    width: 30rem;
    background-color: darkgray;
    border-radius: 10px;
}

/* right */
.about .right {
    width: 50%;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8rem;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.about .about-content .about-content-top {
    width: 85%;
    font-size: 1,5rem;
}
.about .about-content .about-content-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.about .about-content .about-content-bottom-left .about-content-bottom-right {
    width: 50%;
}
.about .about-content .about-content-bottom-half{
    width: 50%;
}

.about .right ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .about {
        height: auto;
    }
    .about .about-header h1{
        font-size: 3rem;
        text-align: center;
    }
    .about .top {
        flex-direction: column;
        height: auto;
    }
    .about .bottom {
        flex-direction: column;
        height: auto;
    }
    .about .left, .about .right {
        width: 95%;
        margin-bottom: 2rem;
    }
    .about .about-content {
        text-align: center;
        width: 100%;
    }
    .about .about-content .about-content-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 100%;
    }
    .about .about-content .about-content-bottom {
        font-size: 1rem;
    }
    .about .about-content .about-content-bottom-half{
        width: 100%;
        margin-bottom: 2rem;
    }
    .about .about-content .about-content-bottom-half{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }
    .about .about-content .about-content-bottom-half ul{
        width: 75%;
        text-align: left;
        padding: 0;
    }
    .about .about-content .about-content-bottom-left, .about .about-content .about-content-bottom-right {
        width: 100%;
    }
    .about-content-bottom{
    }
    .about .left .about-slideshow {
        height: 19rem;
        width: 19rem;
    }
}