
.header {
  position:fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  text-align: center;
  padding: 1% 0 1% 0;
  backdrop-filter: blur(2px);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.header .icon-label {
    display:none;
}
.header .logo-container img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100px;
}

.header .buttons-left, .header .buttons-right{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 100%;
} 

.header .buttons-left a, .header .buttons-right a{
  justify-content: space-evenly;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  color: #bbbbbb;
  text-decoration: none;
}

.header .buttons-left a:hover, .header .buttons-right a:hover{
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    width: 100%;
  }
  .header .buttons-left, .header .buttons-right{
    width: 100%;
    margin: 1% 0 1% 0;
  }
  .header .logo-container img{
    width: 60px;
  }

  .header .text-label {
    display: none;
  }
  .header .icon-label {
    display: inline; 
    margin-top: 1rem;
    height: 2rem;
    width: 2rem;
    color: #bbbbbb;
  }
}