/* projects page */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 10%);
  /* background-color: rgba(0, 0, 0, 0.479); */
}
.projects .projects-header{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40%;
}
.projects .projects-header h1{
  font-size: 3.5rem;
  font-family: 'Parkinsans', sans-serif;
  font-weight:600;
  color: #f57125;
}

.projects .projects-grid{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
}

.project-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000c7;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 3px 13px 16px 1px rgba(0,0,0,0.59);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 65%;
  width: 30%;
  text-align: left;
}

.card-visual{
  height: 70%;
  width: 95%;
  background-color: darkgray;
  object-fit: cover;
  object-position: center center;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}
.card-info{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  height: 25%;
  width: 95%;
}
.card-info h2{
  font-size: 2rem;
  font-family: 'Parkinsans', sans-serif;
  font-weight: 600;
  color: white;
  margin: 2% 0 0 0;
}
.card-info p{
  height: auto;
  font-size: 1.2rem;
  font-family: 'Varela Round', sans-serif;
  color: #bbbbbb;
  margin: 0px;
}

@media screen and (max-width: 768px) {
    .projects {
        height: auto;
    }
    .projects .projects-grid{
        flex-direction: column;
        align-items: center;
        height:auto;
        width: 100%;
    }
    
    .project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: none;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    transition: none;
    height: 20rem;
    width: 99%;
    text-align: left;
    margin-bottom: 2rem;
    }
    .card-visual{
        height: 70%;
        width: 95%;
    }
    .card-info h2{ 
        font-size: 1.5rem;
    }
    .card-info p{
        font-size: 0.75rem;
    }
}
