.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15%;
  text-align: center;
  background-color: #202020;
}

.header-text h1 {
  margin: 3% 0 0 0;
  font-size: 3.75rem;
  font-family: 'Parkinsans', sans-serif;
  font-weight: 500;
  
  color: #ffffff;
}
.header-text p {
  margin: 0 0 3% 0;
  font-size: 1.1rem;
  font-family: 'Varela Round', sans-serif;
  color: #bbbbbb;
}

.landing {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #111111;
}
.landing .left {
  /* background-color: darkgray; */
  height: 85%;
  width: 55%;
}
.landing .right {
  /* background-color:lightgray; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 45%
}
.landing-image img {
  width: auto;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;
  width: 600px;
  height: 600px;
}