@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Varela+Round&display=swap');

:root, html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
body{
background-color: #000000;
background-image: url('./assets/background.png');
}
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */